.active {
  text-decoration: underline !important;
  color: rgb(55, 120, 249) !important;
}

.link {
  text-decoration: none;
  color: white;
}

.box-nav {
  background: linear-gradient(to right, #fdc830, #f37335) !important;
}
