body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ffe259, #ffa751);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: rgb(227, 64, 208);
}
.home-page {
  background-color: blanchedalmond;
  color: rgb(35, 229, 161);
  text-align: center;
  align-items: center;
}
.home-page > span {
  font-size: 3em;
  font-weight: bold;
}
.books-list {
  margin: 5px !important;
}
